@page "/employees"

@attribute [StreamRendering]

<PageTitle>Працівники</PageTitle>

<h1>Працівники</h1>


@if (_loading)
{
    <p><em>Завантаження...</em></p>
}
else
{
    <MudTable Items="@_employees" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading" LoadingProgressColor="Color.Info">
    <HeaderContent >
        <MudTh Class="column-spacing">First Name</MudTh>
        <MudTh Class="column-spacing">Last Name</MudTh>
        <MudTh Class="column-spacing">Patronymic</MudTh>
        <MudTh Class="column-spacing">Address</MudTh>
        <MudTh Class="column-spacing">Phone Number</MudTh>
        <MudTh Class="column-spacing">Date of Birth</MudTh>
        <MudTh Class="column-spacing">Hire Date</MudTh>
        <MudTh Class="column-spacing">Salary</MudTh>
        <MudTh Class="column-spacing">Company</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd Class="column-spacing">@context.FirstName</MudTd>
        <MudTd Class="column-spacing">@context.LastName</MudTd>
        <MudTd Class="column-spacing">@context.Patronymic</MudTd>
        <MudTd Class="column-spacing">@context.Address</MudTd>
        <MudTd Class="column-spacing">@context.PhoneNumber</MudTd>
        <MudTd Class="column-spacing">@context.DateOfBirth.ToString("yyyy-MM-dd")</MudTd>
        <MudTd Class="column-spacing">@context.HireDate.ToString("yyyy-MM-dd")</MudTd>
        <MudTd Class="column-spacing">@context.Salary.ToString("C")</MudTd>
        <MudTd Class="column-spacing">@_companies.FirstOrDefault(c=>c.Id==@context.CompanyId)?.CompanyName</MudTd>
    </RowTemplate>
</MudTable>

}


