@page "/employees"
@using StaffRecords.WEB.DTO.Employee

<PageTitle>Працівники</PageTitle>

<h1>Працівники</h1>
<div class="d-flex">
    <MudTextField @bind-Value="_employeeQueryParams.LastName" MaxLength="100" Label="Прізвище" Variant="Variant.Filled"></MudTextField>
    <div style="width: 10%;"></div>
    <MudTextField @bind-Value="_employeeQueryParams.CompanyName" MaxLength="100" Label="Компанія" Variant="Variant.Filled"></MudTextField>
    <div style="width: 10%;"></div>
    <MudTextField @bind-Value="_employeeQueryParams.DepartmentName" MaxLength="100" Label="Відділ" Variant="Variant.Filled"></MudTextField>
</div>
<br />
<div style="display: flex;">
    <div>
        <MudTextField @bind-Value="_employeeQueryParams.SalaryFrom" Label="Зарплата ВІД" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney" TextChanged="ValidateSalaries" />
        <MudTextField @bind-Value="_employeeQueryParams.SalaryTo"  Label="Зарплата ДО" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney" TextChanged="ValidateSalaries" />
    </div>
    <div style="margin-left: 50px;">
        <MudDatePicker Label="Дата найму ВІД" Date="@_employeeQueryParams.DateHireFrom" DateChanged="HandleFromDateChanged" DateFormat="dd.MM.yyyy" />
        <MudDatePicker Label="Дата найму ДО" Date="@_employeeQueryParams.DateHireTo" DateChanged="HandleToDateChanged" DateFormat="dd.MM.yyyy" />
    </div>
</div>
<br />
<div style="display: flex; align-items: center;">
    <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Search" Color="Color.Success" @onclick="Search">Пошук</MudButton>
    <MudButton Style="margin-left: 25px;" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.FileDownload" Color="Color.Warning" @onclick="ReportAsync">Завантажити звіт</MudButton>
    <MudButton Style="margin-left: 25px;" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Newspaper" Color="Color.Surface" @onclick="GetTotalSalaryAsync">Загальна ЗП</MudButton>
    <MudTextField Style="margin-left: 25px; max-width: 200px;" @bind-Value="_totalSalary" Label="Загальна ЗП" ReadOnly="true" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney" AdornmentColor="Color.Success" />
</div>
<br />
<br />

@if (_loading)
{
    <p><em>Завантаження...</em></p>
}
else
{
    <MudTable Items="@_employees" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading" LoadingProgressColor="Color.Info">
        <HeaderContent>
           <MudTh Class="column-spacing">
                <MudTableSortLabel SortBy="new Func<EmployeeDTO, object>(x=>x.FirstName)">Ім'я</MudTableSortLabel>
            </MudTh>
            <MudTh Class="column-spacing">
                <MudTableSortLabel SortBy="new Func<EmployeeDTO, object>(x=>x.LastName)">Прізвище</MudTableSortLabel>
            </MudTh>
            <MudTh Class="column-spacing">По-батькові</MudTh>
            <MudTh Class="column-spacing">Адреса</MudTh>
            <MudTh Class="column-spacing">Номер телефону</MudTh>
            <MudTh Class="column-spacing">
                <MudTableSortLabel SortBy="new Func<EmployeeDTO, object>(x=>x.DateOfBirth)">Дата народження</MudTableSortLabel>
            </MudTh>
            <MudTh Class="column-spacing">
                <MudTableSortLabel SortBy="new Func<EmployeeDTO, object>(x=>x.HireDate)">Дата прийнятяя</MudTableSortLabel>
            </MudTh>
            <MudTh Class="column-spacing">
                <MudTableSortLabel SortBy="new Func<EmployeeDTO, object>(x=>x.Salary)">Заробітня плата</MudTableSortLabel>
            </MudTh>
            <MudTh Class="column-spacing">Компанія</MudTh>
            <MudTh Class="column-spacing">Відділ</MudTh>
            <MudTh Class="column-spacing">Посада</MudTh>
            <MudTh Class="column-spacing"></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd Class="column-spacing">@context.FirstName</MudTd>
                <MudTd Class="column-spacing">@context.LastName</MudTd>
                <MudTd Class="column-spacing">@context.Patronymic</MudTd>
                <MudTd Class="column-spacing">@context.Address</MudTd>
                <MudTd Class="column-spacing">@context.PhoneNumber</MudTd>
                <MudTd Class="column-spacing">@context.DateOfBirth.ToString("yyyy-MM-dd")</MudTd>
                <MudTd Class="column-spacing">@context.HireDate.ToString("yyyy-MM-dd")</MudTd>
                <MudTd Class="column-spacing">@context.Salary.ToString("C")</MudTd>
                <MudTd Class="column-spacing">@_companies.FirstOrDefault(c => c.Id == @context.CompanyId)?.CompanyName</MudTd>
                <MudTd Class="column-spacing">@_departments.FirstOrDefault(c => c.Id == @context.DepartmentId)?.DepartmentName</MudTd>
                <MudTd Class="column-spacing">@_appointments.FirstOrDefault(c => c.Id == @context.AppointmentId)?.AppointmentName</MudTd>
                <MudTd Class="column-spacing"><MudButton OnClick="()=>EditEmployeeAsync(context)" EndIcon="@Icons.Material.Filled.ModeEdit" Variant="Variant.Filled" Size="Size.Small" Style="background-color: #03c04a">Редагувати</MudButton></MudTd>
            </RowTemplate>
        </MudTable>

}